<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <ul class="Products_list">
    {% for prod in products_list%}
        <li class="products_item">
            <h1>{{ prod.title }}</h1>
            <p>{{ prod.description }}</p>
            <span>{{ prod.price }}kč</span>
            <span>{{ prod.quantity }}kus</span>
        </li>
    
    {% endfor %}
    
    </ul>
</body>
</html>